<%- model_class = Movie -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <%= link_to 'New Movie',
                new_movie_path,
                :class => 'btn btn-primary' %>
  </h1>
</div>
<div class="col-lg-4 pull-right">
  <%= render 'categories_filter' %>
  <%= render 'ratings_filter' %>
</div>
<div class="col-lg-8">
  <table class="table table-striped pull-left movies-list">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th>Average Rating</th>
        <% if current_user %>
          <th>Your Rating</th>
        <% end %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr class="movie_<%= movie.id %>">
          <%= render 'movie_row', movie: movie %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @movies %>
</div>
